body {
    background-image: url("images/book.jpeg");
    font-family: "Risque";
    width:100vw;
}

h1 {
    background-color: #79171B;
    position: relative;
    color: #F3D5A7;
    margin-left: -10px;
    width: 100vw;
    padding: 5px 0px 5px 25px;
}

h2 {
    text-align: center;
    color: #79171B;
    font-size: 32px;
    margin-top: -10px;
    
}

.container {
    display: flex;
    margin: 0 125px 25px 125px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.img_wrap {
    max-width: 120px; 
    float:left;
    position: relative;
    overflow: hidden;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: -10px;
    margin-top: -10px;
    
  }

.img_wrap img{
    width: 120PX;
    max-width: 120px;
    height: 120px;
    display: inline-block;
}
  .img_description {
  position: relative;
  width: 100%;
  max-width: 120px;;
  left: 0;
  background-color: #79171B;
  color: #F3D5A7;
  border: 1px solid #F3D5A7;
  z-index: 1;
  padding: 4px;
  bottom: -100%;
  transition: bottom ease 0.5s;
  }
  
  .img_wrap:hover .img_description {
    bottom: 50%;
  }
  .img_description:active {
    box-shadow: 0 5px 9px 0 #333333, 0 7px 20px 0 #333333;
    background: linear-gradient(#79171B,#4b070a);
    width: 100%;
    display: flex;
    justify-content: center;
  }
.characterSheet {
  margin: 15px;
  display: flex;
  justify-content: space-around;
  opacity: 0;
}
#classImg {
  width: 30vw;
  max-height: 800px;
}
.descriptions {
  border: 5px solid #C29F5D;
  border-radius: 5%;
  background-color: rgba(255, 255, 255, .5);
  color: #79171B;
  width: 35vw;
  max-height: 800px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -75px;
  font-size: 24px;
  padding-bottom: 10px;
  text-align: justify;
}
.row2Desc {
  border: 5px solid #C29F5D;
  border-radius: 2%;
  background-color: rgba(255, 255, 255, .5);
  color: #79171B;
  width: 45vw;
  font-size: 24px;
  text-align: justify;
}
#generalDetails {
  border: 5px solid #C29F5D;
  border-radius: 5%;
  background-color: rgba(255, 255, 255, .5);
  color: #79171B;
  width: 25vw;
  max-height: 800px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  text-align: justify;
}
.row2Desc {
  border: 5px solid #C29F5D;
  border-radius: 2%;
  background-color: rgba(255, 255, 255, .5);
  color: #79171B;
  width: 45vw;
  font-size: 24px;
  text-align: justify;
}
ul {
  list-style-type: none;
  margin-top: -15px;
  padding-left: 15px;
  padding-right: 15px;
}
#abilityScoresBox {
  text-align: center;
  margin-top: -15px;
}

.profSkill {
  list-style-type:disc;
  margin-left: 30px;
}
li {
  padding: 5px;
}

h3 {
  background-color: #79171B;
  color: #F3D5A7;
  width: 100%;
  text-align: center;
  font-size: larger;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 7px;
}
P {
  background-color: #79171B;
  color: #F3D5A7;
  width: 100%;
  text-align: center;
  font-size:22px;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.pageBreaker {
  
  width:95vw;
  margin: auto;
  margin-top: -20px;
  border-radius: 50%;
  background: linear-gradient(#E4C79E, #7D5D21);
}
