body {
    background-image: url('images/book.jpeg');
    background-size: cover;
    /*font-family: "Risque";*/
    width:100vw;
}

h1 {
    background-color: #79171B;
    position: relative;
    color: #F3D5A7;
    margin-left: -10px;
    width: 100vw;
    padding: 5px 0px 5px 25px;
}

h2 {
    text-align: center;
    color: #5E0102;
    font-size: 32px;
}

.container {
    display: flex;
    margin: 0 125px 25px 125px;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.img_wrap {
    max-width: 150px; 
    float:left;
    position: relative;
    overflow: hidden;
  }

.img_wrap img{
    width: 100%;
    max-width: 150px;
    height: 150px;
    display: inline-block;
}
 .img_wrap .img_description {
  position: relative;
  width: 100%;
  max-width: 150px;;
  left: 0;
  background-color: #79171B;
  color: #F3D5A7;
  border: 1px solid #F3D5A7;
  z-index: 1;
  padding: 4px;
  bottom: -100%;
  transition: bottom ease 0.5s;
  
  }
  .img_wrap:hover .img_description {
    bottom: 50%;
  }
  .img_description:active {
    box-shadow: 0 5px 9px 0 #333333, 0 7px 20px 0 #333333;
    background: linear-gradient(#79171B,#4b070a);
    width: 100%;
    display: flex;
    justify-content: center;
  }
.characterSheet {
  margin: 15px;
  display: flex;
}

.descriptions {
  border: 7px solid #C29F5D;
  border-radius: 5%;
  background-color: rgba(255, 255, 255, .5);
  color: #79171B;
  width: 45vw;
  margin: 15px;
  font-size: 24px; 
}
#generalDetails {
  border: 7px solid #C29F5D;
  border-radius: 5%;
  background-color: rgba(255, 255, 255, .5);
  color: #79171B;
  width: 30vw;
  
  margin: 15px; 
  font-size: 24px;
}
#abilityScores {
  border: 7px solid #C29F5D;
  border-radius: 5%;
  background-color: rgba(255, 255, 255, .5);
  color: #79171B;
  width: 25vw;
  margin: 15px;
  padding-bottom: 15px;
  margin: 15px;
  font-size: 24px;
}

ul {
  list-style-type: none;
  margin:0;
  padding-left: 15px;
  padding-right: 15px;
}

.profSkill {
  list-style-type:disc;
  margin-left: 30px;
}
li {
  padding: 5px;
}
#classImg {
  width: 25vw;
  height:auto;
}
h3 {
  background-color: #79171B;
  color: #F3D5A7;
  width: 100%;
  text-align: center;
  font-size: larger;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
P {
  background-color: #79171B;
  color: #F3D5A7;
  width: 100%;
  text-align: center;
  font-size:22px;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
